{% extends "dongo/navbar.html" %} {% load static%} {% block title %}
<title>homepage</title>{% endblock title %} {% block content %}
<link rel="stylesheet" href="{% static 'dongo/style.css' %}">

<body>
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="col-md-10">
                    <form action="{% url 'search' %}" method="POST" class="card card-sm">{% csrf_token %}
                        <div class="card-body row no-gutters align-items-center" style="background-color: lightcyan;">
                            <div class="col-md-10 ">
                                <input type="search" name="item_name" placeholder="Search for products" class=" form-control for-control-borderlss ">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-success ">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            {% if products %} {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <div>
                        {% if request.user.is_superuser %}
                        <a href="{% url 'delete' product.id %}" class="link"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;&nbsp;
                        <a href="{% url 'update' product.id %}" class="link"><span class="glyphicon glyphicon-pencil" style="float:right;"></span></a> {% endif %}</div>
                    <a href="{% url 'product' product.id %} ">
                        <img src="{{product.image}}" class="card-img-top" alt=" "></a>
                    <div class="card-body ">
                        <div class="card-title ">
                            <a href="{% url 'product' product.id %} " class="li "> {{product.title.capitalize}}</a>
                        </div>
                        <div class="card-text ">
                            <span class="glyphicon glyphicon-usd "></span>{{product.price}}
                            <br><span class="glyphicon glyphicon-star " style="color:goldenrod "></span>{{product.rating}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <dvi class="row">
            <div class="col-sm-3 offset-md-4">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if products.has_previous %}
                        <li class="page-item ">
                            <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}
                        <li class=" page-item "><a class="page-link " href="?page={{ products.number }} ">current</a>
                        </li>
                        {% if products.has_next %}
                        <li class="page-item "><a class="page-link " href="?page={{ products.next_page_number }} ">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </dvi>
        {% else %}
        <div class="row ">
            <div class="col ">
                <h1>No products available here with that name...</h1>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
    </div>
</body>
{% endblock %}

</html>