{% extends "myapp/base.html" %} {% load static %} {% block content %}
{% block title %}<title>About</title>{% endblock title%}
<div class="col-sm-8">
    <h3 class="text-white my-5">About page</h3>
    <p>A lightweight, flexible component that can optionally extend the entire viewport to showcase key marketing messages on your siteA lightweight, flexible component that can optionally extend the entire viewport to showcase key marketing messages on
        your site</p>

    <p>A lightweight, flexible component that can optionally extend the entire viewport to showcase key marketing messages on your siteA lightweight, flexible component that can optionally extend the entire viewport to showcase key marketing messages on
        your site</p>
</div>

{% endblock content %}