{% extends "myapp/base.html" %}
{% load static %} 

{% block content %}
 {% block title %}
<title>update</title>{% endblock title%}

<div class="col-sm-8">
    <h3 class="text-white my-5">Update post here</h3>
    {% if messages %}
{% for message in messages %}
<h4 {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</h4>
{% endfor %}
{% endif %}
   <form action="" method='POST'>{% csrf_token %}
 {% for fm in form %}
 <div class="form-group">
 {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}
 </div>
 {% endfor %}
 <button class='btn btn-success' type='submit'>update</button>
    <a href="{% url 'dashboard' %}" class=" btn btn-warning  text-white">Cancel</a>
    </form>
</div>

{% endblock content %}